@media (max-width: 1000px) {
  .anchor-right {
    display: none;
  }
}
@media (min-width: 1000px) {
  .anchor-right {
    display: block;
  }
}

.anchor-right {
  position: sticky;
  top: calc(var(--navbar-height) + 4rem);
  z-index: 20;
  max-width: var(--content-width);
  margin: 0 auto;

  .anchor-right-content {
    /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
    &::-webkit-scrollbar {
        width: 2px;
        background-color: #f5f5f5;
    }
    /*定义滚动条的轨道，内阴影及圆角*/
    &::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: #f5f5f5;
    }
    /*定义滑块，内阴影及圆角*/
    &::-webkit-scrollbar-thumb {
      background-color: var(--c-text-accent);
    }
    max-height: 70vh;
    border-left: #eaecef solid 1px;
    position: absolute;
    top: 0;
    right: -14rem;
    width: 12rem;
    font-size: 13px;
    overflow-y: auto;

    :deep(ul) {
      list-style: none;
      margin: 0;
      :deep(li) {
        list-style: none;
        margin: 0;
        padding-top: 1px !important;
        padding-bottom: 1px !important;
        padding-right: 0 !important;
      }
    }

    .level {
      color: #999;
      display: block;
      padding: 4px 12px 4px 0;
      margin-left: -1px;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }
    .level-2 {
      & > div {
        font-weight: 700;
        font-size: 13px;
      }
    }

    :deep(.active) {
      color: var(--c-text-accent);
      font-weight: 600;

      .menu {
        font-weight: normal;
      }
    }
  }
}
